%header
  .header-main
    .header-main__top.clearfix
      %h1
        =link_to root_path, class: 'title' do
          empic
      = form_tag pictures_path, class: 'input-search', :method =>'get' do
        = text_field_tag :search, params[:search], class: 'input-search__form', placeholder: "検索"
        = button_tag type: :submit, :name => nil, class: 'btn-t' do
          %i.fa.fa-search
    .header-main__setting.clearfix
      .header-main__setting__right

        = form_for (@picture) do |f|
          %ul.block-post-pictur
            %li.block-post-pictur__select
              %label{for: 'picture_image'}
                = f.file_field :image
            %li.block-post-pictur__select
              =f.submit "投稿", class: 'submit'


-# %nav.indicate-tag
-#   .indicate-tag__content
