%html
  %body
    .empic-container
      %header
        .header-main
          .header-main__top.clearfix
            %h1
              =link_to root_path, class: 'title' do
                empic
            = form_tag pictures_path, class: 'input-search', :method =>'get' do
              = text_field_tag :search, params[:search], class: 'input-search__form', placeholder: "タグ検索"
              = button_tag type: :submit, :name => nil, class: 'btn-t' do
                %i.fa.fa-search
          .header-main__setting.clearfix
            .header-main__setting__right

      %main.top.clearfix
        .tags__content
          .pic-tag__box
            - @tags.each do |tag|
              %span
                = link_to tag, selects_path(tag_name: tag.name), class: 'tag-name'
                = tag.taggings_count





          %ul.pager
            %li.pager__num
    = render 'shared/footer'
