%html
  %body
    .empic-container
      = render 'shared/header'

      %main.pic.clearfix
        %section.pic__container
          %section.pic__container__content
            = image_tag @picture.image.url, class: 'picture-block'
          %section.pic__container__edit
            =form_with model: @picture do |f|
              .pic-comment
                = f.text_area :comment, placeholder: "コメント", class: 'textarea-default'
              .pic-tag
                = f.text_field :tag_list, value: @picture.tag_list.join(','), placeholder: "タグ", class: 'input-default'
              .btn-content
                = f.submit "登録する", class: 'btn-default btn-red'
        .btn
          = link_to "topに戻る", root_path, class: 'btn-default btn-gry'

      = render 'shared/footer'