%html
  %body
    .empic-container
      = render 'shared/header'

      %main.pic.clearfix
        %section.pic__container
          %section.pic__container__content
            = image_tag @picture.image.url, class: 'picture-block'
          %section.pic__container__show
            .pic-comment
              %h1.title-deco
                コメント
              .pic-comment__box
                = simple_format(@picture.comment)
            .pic-tag
              %h1.title-deco
                タグ
              .pic-tag__box
                - @picture.tags.each do |tag|
                  %span
                    = link_to tag, selects_path(tag_name: tag.name), class: 'tag-name'
        .btn
          = link_to "topに戻る", root_path, class: 'btn-default btn-gry'

      = render 'shared/footer'
